.charts {

	&__side-menu {
		height: calc(100vh - 60px);
	}

	&__list-container {
		width: 100%;
		height: 100%;
		padding: 24px;
	}

	&__list-head {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 24px;
	}
	
	&__list-title {
		color: #293A5B;
    font-size: 18px;
    letter-spacing: 0.2px;
	}

	&__list {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		list-style-type: none;
		grid-gap: 24px;
		margin: 0;
		padding: 0;
	}
}

.chart-item {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	flex-direction: column;
	width: 100%;
	border: 1px solid #8c8c8c;
	transition: .15s ease-in-out;
	border-radius: 5px;
	background: #F2F4F2;

	&:last-child {
		margin-bottom: 0;
	}

	&:hover {
		background: darken(#F2F4F2, 5%);
		transition: .15s ease-in-out;
		cursor: pointer;
	}

	&__name {
		max-width: 290px;
		color: #454545;
		font-size: 16px;
		letter-spacing: 0.2px;
		line-height: 20px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&__top {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 140px;
		border-bottom: 1px solid #8c8c8c;
	}

	&__bottom {
		display: flex;
		align-items: center;
		flex-wrap: nowrap;
		width: 100%;
		padding: 16px;
	}

	&__edit,
	&__remove {
		position: relative;
		display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    width: 36px;
    border-radius: 50%;
		transition: .15s ease-in-out;
		cursor: pointer;

		&--small {
			margin: 0 !important;
			height: 28px;
			width: 28px;
			
			&:before {
				width: 14px !important;
				height: 14px !important;
			}
		}
		
		&:before  {
			width: 18px;
			height: 18px;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: contain;
			content: '';
		}

		&:hover {
			background-color: rgba(#293A5B, 0.1);
			transition: .15s ease-in-out;

			.chart-item__tooltip {
				opacity: 1;
				transition: .5s ease-in-out !important;
				visibility: visible;
				z-index: 1;
			}
		}
	}

	&__team-icon {
		position: relative;
		display: flex;
    align-items: center;
    justify-content: center;
		width: 100px;
		height: 100px;

		&:before {
			width: 100px;
			height: 100px;
			background-image: url(../assets/image/team.svg);
			background-position: center center;
			background-repeat: no-repeat;
			background-size: contain;
			content: '';
		}
	}

	&__actions {
		display: flex;
		margin-left: auto;
	}

	&__edit {
		margin-left: 8px;

		&:before {
			background-image: url(../assets/image/edit.svg);
		}
	}

	&__remove {
		margin-left: 8px;

		&:before {
			background-image: url(../assets/image/remove.svg);
		}
	}

	&__tooltip {
		position: absolute;
		top: -32px;
		left: 50%;
		padding: 4px 8px;
		transform: translateX(-50%);
		background: rgba(#7e7e7e, 0.95);
		color: #fff;
		font-size: 14px;
		letter-spacing: 0.2px;
		border-radius: 5px;
		opacity: 0;
		visibility: hidden;
		z-index: -1;
		white-space: nowrap;
	}
}