.swappable {
	display: grid;
	grid-template-columns: repeat(4, 100px [col-start]);
	grid-template-rows: repeat(5, 100px [col-start]);
	padding: 0;
	margin: 0;
	list-style: none;

	li {
		width: 100px;
		height: 100px;
		background: grey;
		border: 5px solid lightblue;
		font-size: 35px;
		color: #fff;

		&.draggable {

			&-source {

				&--is-dragging {
					background: red;
				}
			}

			&-mirror {
				background: blue;
			}
		}
	}
}

.side-positions {
	display: grid;
	grid-template-rows: repeat(5, 100px [col-start]);
	padding: 0;
	margin: 0;
	list-style: none;

	li {
		width: 100px;
		height: 100px;
		background: grey;
		border: 5px solid lightcoral;
		font-size: 15px;
		color: #fff;
	}
}

.chart-table {
	display: flex;
	//align-items: center;
	//align-content: center;
	//justify-content: center;
}