.swappable {
	display: grid;
	grid-template-columns: repeat(4, 25% [col-start]);
	grid-template-rows: repeat(5, 20% [col-start]);
	column-gap: 5px;
	row-gap: 5px;
	padding: 0;
	margin: 0;
	list-style: none;

	li {
		width: 100%;
		height: 100%;

		&:hover {
			background: #d9d9d9;
			cursor: grab;

			body.draggable--is-dragging & {
				cursor: grabbing;
			}
		}

		&.draggable {

			&-source {

				&--is-dragging {
					background: #99c2d6;
				}
			}

			&-mirror {
				background: #d9d9d9;
			}
		}

		&.athlete {
			align-items: flex-start;
			flex-wrap: wrap;
			padding: 10px;
			border: 1px solid #8c8c8c;
		}

		.athlete {

			&__info {
				margin-right: 0;
			}

			&__actions {
				flex-basis: 100%;
				justify-content: flex-end;
				margin-top: auto;

				span {
					margin-left: 0;
				}
			}

			&__avatar {
				width: 26px;
				height: 26px;
				min-height: 26px;
				min-width: 26px;
				margin-right: 8px;
			}

			&__name {
				margin-bottom: 4px;
				font-size: 14px;
				letter-spacing: 0.2px;
				line-height: 16px;
			}
		
			&__card-info {
				font-size: 12px;
				letter-spacing: 0.2px;
				line-height: 14px;
			}
		}
	}
}

.side-positions {
	display: grid;
	grid-template-rows: repeat(5, 500px [col-start]);
	row-gap: 5px;
	padding: 0;
	margin: 0 5px 0 0;
	list-style: none;


	li {
		font-size: 15px;
		color: #fff;
		font-weight: bold;
		justify-content: center;
		display: flex;
		align-items: center;
		flex-wrap: nowrap;
		width: 100%;
		padding: 16px 24px;
		margin-bottom: 8px;
		background: #455a64;
		border: 1px solid transparent;
		//transition: .15s ease-in-out;
		border-radius: 5px;
	}

	.link {
		color: #fff;

		&:hover {
			color: inherit;
		}
	}
}

.top-positions {
	display: grid;
	grid-template-columns: repeat(4, 25% [col-start]);
	column-gap: 5px;
	padding: 0;
	margin: 0 5px 0 0;
	list-style: none;

	li {
		font-size: 15px;
		color: #fff;
		font-weight: bold;
		justify-content: center;
		display: flex;
		align-items: center;
		flex-wrap: nowrap;
		width: 100%;
		padding: 16px 24px;
		margin-bottom: 8px;
		background: #455a64;
		border: 1px solid transparent;
		//transition: .15s ease-in-out;
		border-radius: 5px;
	}
}

.chart-table {
	display: flex;
}

.link {
	color: #7e7e7e;

	&--center {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
	}

	&:hover {
		color: darken(#293A5B, 0.15);
		text-decoration: none;
	}
}