.swappable {
	display: grid;
	grid-template-columns: repeat(4, 25% [col-start]);
	grid-template-rows: repeat(5, 20% [col-start]);
	column-gap: 5px;
	row-gap: 5px;
	padding: 0;
	margin: 0;
	list-style: none;

	li {
		width: 100%;
		height: 100%;

		&:hover {
			background: #d9d9d9;
			cursor: grab;

			body.draggable--is-dragging & {
				cursor: grabbing;
			}
		}

		&.draggable {

			&-source {

				&--is-dragging {
					background: #99c2d6;
				}
			}

			&-mirror {
				background: #d9d9d9;
			}
		}
	}
}

.chart-table._head .side-positions {
    grid-template-rows: repeat(1, 70px [col-start]);
}

.side-positions {
	display: grid;
	grid-template-rows: repeat(5, 500px [col-start]);
	row-gap: 5px;
	padding: 0;
	margin: 0 5px 0 0;
	list-style: none;

	li {
		position: relative;
		width: 150px;
		font-size: 14px;
		color: #454545 !important;
		justify-content: center;
		display: flex;
		align-items: center;
		flex-wrap: nowrap;
		padding: 16px 24px;
		margin-bottom: 8px;
		background: #c1c1c1;
		border: 1px solid transparent;
		border-radius: 5px;
		transition: .15s ease-in-out;

		._head & {
			height: 70px;
		}
	}

	.link {
		cursor: pointer;

		&:hover {
			color: #8c8c8c !important;
			transition: .15s ease-in-out;
		}
	}

	.color-picker {
		position: absolute;
		bottom: 4px;
		right: 4px;
		max-height: 24px;
		border-radius: 5px;
		overflow: hidden;

		input {
			width: 24px;
			height: 24px;
			padding: 0;
			border: none;
			box-shadow: none;
			outline: none;
			background: none;
		}

		input[type="color"] {
			-webkit-appearance: none;
			border: none;
			width: 24px;
			height: 24px;
		}
		input[type="color"]::-webkit-color-swatch-wrapper {
			padding: 0;
		}
		input[type="color"]::-webkit-color-swatch {
			border: none;
		}
	}
}

.top-positions {
	display: grid;
	grid-template-columns: repeat(4, 25% [col-start]);
	column-gap: 5px;
	padding: 0;
	margin: 0;
	list-style: none;

	li {
		height: 70px;
		font-size: 14px;
		color: #454545 !important;
		justify-content: center;
		display: flex;
		align-items: center;
		flex-wrap: nowrap;
		width: 100%;
		padding: 16px 24px;
		margin-bottom: 5px;
		background: #c1c1c1;
		border: 1px solid transparent;
		border-radius: 5px;
		transition: .15s ease-in-out;
		cursor: pointer;
	}
}

.chart-table {
	display: flex;
}

.link {
	color: #7e7e7e;

	&--center {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
	}

	&:hover {
		color: darken(#293A5B, 0.15);
		text-decoration: none;
	}
}

.athlete-chart {
	display: flex;
	flex-wrap: nowrap;	
	padding: 10px;
	border: 1px solid #8c8c8c;
	background: #e2e4e2;
	border-radius: 5px;

	&:hover {
		background: #c2c4c2;
	}

	&__left {
		margin-right: 8px;
	}

	&__right {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		flex-direction: column;
		flex: 1;
	}

	&__year {
		margin-bottom: 4px;
		font-size: 14px;
		letter-spacing: 0px;
		line-height: 18px;
	}

	&__name {
		margin-bottom: 4px;
		font-size: 14px;
		letter-spacing: 0px;
		line-height: 16px;
	}

	&__card-info {
		font-size: 12px;
    letter-spacing: 0.2px;
		line-height: 14px;
		color: #7e7e7e;
    font-weight: 300;
	}

	&__avatar {
		height: 100%;
		max-width: 64px;
		min-width: 40px;

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
			border-radius: 4px;
		}
	}

	&__remove,
	&__info-icon {
		position: relative;
		display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    width: 36px;
    border-radius: 50%;
		transition: .15s ease-in-out;
		cursor: pointer;
		
		&:before  {
			width: 18px;
			height: 18px;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: contain;
			content: '';
		}

		&--small {
			height: 28px;
			width: 28px;
			
			&:before {
				width: 14px;
				height: 14px;
			}
		}

		&:hover {
			background-color: rgba(#293A5B, 0.1);
			transition: .15s ease-in-out;

			.athlete-chart__tooltip {
				opacity: 1;
				visibility: visible;
				transition: .5s ease-in-out !important;
				z-index: 1;
			}
		}
	}

	&__actions {
		display: flex;
		margin-left: auto;
	}

	&__remove {

		&:before {
			background-image: url(../assets/image/remove.svg);
		}
	}

	&__info-icon {

		&:before {
			background-image: url(../assets/image/info.svg);
		}
	}

	&__tooltip {
		position: absolute;
		top: -32px;
		left: 50%;
		padding: 4px 8px;
		transform: translateX(-50%);
		background: rgba(#7e7e7e, 0.95);
		color: #fff;
		font-size: 14px;
		letter-spacing: 0.2px;
		border-radius: 5px;
		opacity: 0;
		visibility: visible;
		z-index: -1;
		white-space: nowrap;
	}
}

@media screen and (max-width: 1100px) {
	
	.athlete-chart {
		
		&__avatar {
			display: none;
		}
	}
}