.modal-dialog {
	border-radius: 12px !important;
	overflow: hidden !important;

	&--large {
		max-width: 800px;
		width: 800px;
	}

	&--medium {
		max-width: 560px;
		width: 560px;
	}

	&--guide {

		.modal-form {
			max-height: 700px;
			overflow-y: auto;
			overflow-x: hidden;

			&::-webkit-scrollbar {
				width: 2px !important;
				border-radius: 4px !important;
			}

			&::-webkit-scrollbar-track {
				background: #eee !important;
			}


			&::-webkit-scrollbar-thumb {
				background: #888  !important;
			}

			&::-webkit-scrollbar-thumb:hover {
				background: #555  !important;
			}
		}
	}
}



.modal-body {
	background: #fff;
	padding: 24px;
}

.modal-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;

	&__logo {
		min-width: 64px;
		min-height: 70px;
		margin-bottom: 24px;
		background: url(../assets/image/logo-Idea-depth-chart.png) center center no-repeat;
		background-size: contain;
	}

	&__title {
		margin-bottom: 8px;
		font-size: 24px;
		color: #455a64;
		letter-spacing: 0px;
	}

	&__description {
		margin-bottom: 24px;
		font-size: 14px;
		color: #455a64;
		letter-spacing: 0.2px;
		text-align: center;
	}

	&__login-button {
		width: 100%;
		margin-bottom: 8px;;
	}

	&__input {
		width: 100%;
		margin-bottom: 8px;
	}

	&__section {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;

		&--checkboxes {
			flex-direction: row !important;
		}

		&--column {
			flex-direction: column;
		}

		&--athlete-first {
			align-items: flex-start;
		}
	}

	&__list-container {
		padding-top: 12px;
		max-height: 500px;
		width: 100%;
		overflow-y: auto;
		overflow-x: hidden;
	}

	&__dot {
		width: 8px;
		height: 8px;
		margin: 12px 0;
		background: #455a64;
		border-radius: 50%;
	}

	&__divider {
		height: 16px;
		width: 1px;
		margin: 0 16px;
		background: #455a64;
	}

	&__avatar {
		position: relative;
		margin-top: 30px;
		width: 100%;
		display: block;
		min-height: 140px;
		margin-bottom: 24px;
		background: #ced9dc url(../assets/image/noavatar.svg) center 0 no-repeat;
		background-size: 35%;
		transition: 0.15s ease-out;

		&:before {
			position: absolute;
			bottom: 6px;
			left: 50%;
			transform: translateX(-50%);
			font-size: 12px;
			color: #7e7e7e;
			content: 'Upload photo';
			white-space: nowrap;
		}

		&--square {
			min-height: 100px;
			width: 100px;
			min-width: 100px;
			background-size: 50%;
			background-position: center 16px;
			cursor: pointer;
		}

		.button {
			position: absolute;
			right: 10px;
			bottom: 10px;
		}

		&:hover {
			box-shadow: inset 0 0 7px 1px rgba(#455a64, 0.3);
			transition: 0.15s ease-out;
		}

		img {
			max-width: 100px;
			width: 100%;
			object-fit: contain;
		}
	}

	&__buttons {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}

	&__label {
		font-size: 14px;
		color: #455a64;
		letter-spacing: 0.2px;
		text-align: center;
		white-space: nowrap;
	}

	&__checkbox {
		display: flex;
	}

	&__textarea {
		width: 100%;
    padding: 8px 16px;
    margin: 0;
    font-size: 14px;
    letter-spacing: .2px;
    background: rgba(55, 71, 79, 0.1);
    border: 1px solid transparent;
    border-radius: 5px !important;
    outline: none !important;
    transition: .2s ease-in-out;
		color: #455a64;

		&::-webkit-scrollbar {
      background-color: transparent !important;
      width: 2px !important;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #8c8c8c !important;
      border-radius: 2px !important;
    }
	}

	&__input-container {
		width: 100%;
	}

	&__guide-step {
		width: 100%;
		height: 450px;
		margin-bottom: 24px;

		&--first {
			background: url(../assets/image/1.gif) center center no-repeat;
			background-size: contain;
		}

		&--second {
			background: url(../assets/image/2.gif) center center no-repeat;
			background-size: contain;
		}

		&--third {
			background: url(../assets/image/3.gif) center center no-repeat;
			background-size: contain;
		}
	}
}

.overview {

	&__video-container {
		width: 100%;
		height: fit-content;
	}

	&__info-section {
		padding: 24px;
	}

	&__title {
		margin-bottom: 8px;
		font-size: 24px;
		color: #455a64;
		letter-spacing: 0px;
	}

	&__description {
		font-size: 14px;
		color: #455a64;
		letter-spacing: 0.2px;
	}
}

.modal {

	&__section {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
	}

	&__label {
		font-size: 18px;
		color: #455a64;
		letter-spacing: 0px;
		margin-bottom: 16px;
	}

	&__big-text {
		display: block;
		font-size: 24px;
		color: #455a64;
		letter-spacing: 0px;
		margin-bottom: 16px;
	}

	&__medium-text {
		display: block;
		font-size: 18px;
		color: #455a64;
		letter-spacing: 0px;
		margin-bottom: 16px;
	}

	&__buttons-section {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

@media screen and (max-width: 768px) {

	.modal-dialog {
		max-width: calc(100vw - 48px);
		width: calc(100vw - 48px);

		&--large {
			max-width: calc(100vw - 48px);
			width: calc(100vw - 48px);
		}

		&--guide {

			.modal-form {
				max-width: calc(100vw - 48px);
				width: calc(100vw - 48px);
				padding-right: 4px;
			}
		}
	}

	.modal-form {
		max-height: calc(100vh - 300px);
		height: calc(100vh - 300px);
		overflow-y: scroll;
		overflow-x: hidden;
		padding-right: 4px;

		&::-webkit-scrollbar {
			width: 2px !important;
			border-radius: 4px !important;
		}

		&::-webkit-scrollbar-track {
			background: #eee !important;
		}


		&::-webkit-scrollbar-thumb {
			background: #888  !important;
		}

		&::-webkit-scrollbar-thumb:hover {
			background: #555  !important;
		}

		&__section {
			flex-direction: column;

			&--athlete-first {
				align-items: center;
			}
		}
	}
}

@media screen and (max-width: 600px) {

	.modal-dialog {
		top: auto;
		transform: translate(-50%, 0) !important;

		&--medium {
			max-width: calc(100vw - 48px);
			width: calc(100vw - 48px);
		}
	}

	.modal-form {
		max-height: none;
		height: auto;
		overflow: auto;
	}

	.modal-form__input-container {
		min-height: 71px !important;
		height: 71px !important;
	}
}
